In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("USA_Housing.csv")
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [3]:
data.drop(['Area Population','Address'], axis = 1, inplace=True)

In [4]:
data.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Price
0,79545.458574,5.682861,7.009188,4.09,1.059034e+06
1,79248.642455,6.002900,6.730821,3.09,1.505891e+06
2,61287.067179,5.865890,8.512727,5.13,1.058988e+06
3,63345.240046,7.188236,5.586729,3.26,1.260617e+06
4,59982.197226,5.040555,7.839388,4.23,6.309435e+05

In [5]:
data.shape

(5000, 5)

In [6]:
Y = data.pop('Price')
X = data

In [7]:
from sklearn.preprocessing import MinMaxScaler

XScaler = MinMaxScaler()
xScaled = XScaler.fit_transform(X)
X = pd.DataFrame(xScaled, columns=X.columns)
X.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms
0,0.686822,0.441986,0.501502,0.464444
1,0.683521,0.488538,0.464501,0.242222
2,0.483737,0.468609,0.701350,0.695556
3,0.506630,0.660956,0.312430,0.280000
4,0.469223,0.348556,0.611851,0.495556

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.7, random_state=456)

In [9]:
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import r2_score, mean_squared_error

model_Ridge = Ridge(alpha=5)
model_Ridge_fit = model_Ridge.fit(X_train, Y_train)
model_Ridge_pred = model_Ridge_fit.predict(X_test)

print(r2_score(Y_test, model_Ridge_pred))
# print(mean_squared_error(Y_test, model_Ridge_pred))

0.7322194808115865

In [10]:
model_Lasso = Lasso(alpha=10)
model_Lasso_fit = model_Lasso.fit(X_train, Y_train)
model_Lasso_pred = model_Lasso_fit.predict(X_test)

print(r2_score(Y_test, model_Lasso_pred))
# print(mean_squared_error(Y_test, model_Lasso_pred))

0.7410809889668208

In [11]:
model_LR = LinearRegression()
model_LR_fit = model_LR.fit(X_train, Y_train)
model_LR_pred = model_LR_fit.predict(X_test)

print(r2_score(Y_test, model_LR_pred))

0.741103021880863

In [12]:
from sklearn.decomposition import PCA

pca = PCA(n_components=3)
X_red = pd.DataFrame(pca.fit_transform(X))
X_red.head()

          0         1         2
0  0.024971 -0.043216 -0.116107
1 -0.199009  0.003302 -0.106757
2  0.298935 -0.020844  0.121960
3 -0.203708  0.181236  0.008090
4  0.081908 -0.139051  0.121682

In [13]:
X_train_red, X_test_red, Y_train_red, Y_test_red = train_test_split(X_red, Y, train_size=0.7, random_state=456)

In [14]:
model_Ridge = Ridge(alpha=5)
model_Ridge_fit = model_Ridge.fit(X_train_red, Y_train_red)
model_Ridge_pred = model_Ridge_fit.predict(X_test_red)

print(r2_score(Y_test_red, model_Ridge_pred))

model_Lasso = Lasso(alpha=10)
model_Lasso_fit = model_Lasso.fit(X_train_red, Y_train_red)
model_Lasso_pred = model_Lasso_fit.predict(X_test_red)

print(r2_score(Y_test_red, model_Lasso_pred))

model_LR = LinearRegression()
model_LR_fit = model_LR.fit(X_train_red, Y_train_red)
model_LR_pred = model_LR_fit.predict(X_test_red)

print(r2_score(Y_test_red, model_LR_pred))

0.4952887948284297
0.4989584798662403
0.49896291049857333